<table class="table table-striped">
  <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of shoppinglist">
          <td scope="row">{{item.Number}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Price}}</td>
          <td><button class="btn btn-class" (click)="onAdd(item.Number)">Add</button></td>
        </tr>
  </tbody>
</table>  
